@media (max-width: 767px) {
.flexnav {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-transform-style: preserve-3d;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  position: relative;
    display: none!important;
  left:0px;
  max-height: 0; 
}
    .flexnav.active{
        display: block !important;
        overflow: visible!important;
    }
    .flexnav.active:after{
        content: '';
        display: block;
        clear: both;
    }
    .flexnav.active .nav{
        float: none;
        width: 100%;

    }
    .navbar .nav > li span{
  display: block !important;
}
.navbar .nav > li{
  width: 100%;
}
    .flexnav.active .nav > li{
        display: block;
    }
.flexnav.opacity {
	opacity: 0; 
}
  .flexnav.flexnav-show {
	max-height: 2000px;
	opacity: 1;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
  }
  .flexnav.one-page {
	position: fixed;
	top: 50px;
	right: 5%;
	max-width: 200px;
	 }
  .flexnav li {
	font-size: 100%;
	position: relative;
	overflow: hidden; 
  }
  .flexnav li a {
	position: relative;
	display: block;
	padding: .96em!important;
	z-index: 2;
	font-size: 12px;
	text-transform: uppercase;
	overflow: hidden;
	color: #fff!important;
	background: #383838;
	border-bottom: 1px solid #565656 
  }
    .flexnav > li a:hover{
        background: #2D2D2D;
    }
  .flexnav li ul {
	width: 100%; 
	position: relative !important;
	padding: 0 !important;
	margin: 0 !important;
	top:0px !important;
      border: 0!important;
  }
  .navigation ul:before, .nav ul:before{
	top: 0px !important;
  }
	.flexnav li ul li {
	  font-size: 100%;
	  position: relative;
	  overflow: hidden; 
	}
  .flexnav li ul.flexnav-show li {
	overflow: visible; 
  }
  .flexnav li ul li a {
	display: block;
	background: #3F3F3F;
	color: white !important;
	line-height: 35px !important;
	padding: 5px 25px !important;
  }
  .flexnav li ul li a:hover{
	text-decoration: none;
  }
  .flexnav ul li ul li a {
	background: #383838;
  }
    .flexnav ul li ul li a:hover,
    .flexnav.nav-collapse .nav > li > a:hover{
        background: #2D2D2D;
    }
  .flexnav ul li ul li ul li a {
	background: #cbcbc9; 
  }
  .flexnav .touch-button {
	position: absolute;
	z-index: 999;
	top: 0;
	right: 0;
	font-size: 17px;
	width: 50px;
      /*height: 42px;*/
	display: inline-block;
	text-align: center;
    color: #fff;
      /*line-height: 42px;*/
      padding: 12px 0;
  }
	.flexnav .touch-button:hover {
	  cursor: pointer; 
	}



.menu-button {
  padding: 0;
  color: #fff!important;
  cursor: pointer;
}
  .menu-button.one-page {
	position: fixed;
	top: 0;
	right: 5%;
	padding-right: 45px; 
  }
  .menu-button .touch-button {
	background: transparent;
	position: absolute;
	z-index: 999;
	top: -50px;
	right: 0;
	width: 50px;
	height: 50px;
	display: inline-block;
	text-align: center; 
  }
	.menu-button .touch-button i{
	  display: none;
	}



  }