/* ==========================================================================
   Media Queries
   ========================================================================== */


@media only screen and (min-width: 980px) and (max-width: 1199px) {
	/****Ipad Landscape 1024 Container 940 ****/
	.widget_box{ width:345px; right: 134px; top:15px;}
	input.text_field{ width:298px;}
	.widget_box h2{ font-size: 30px; line-height: 32px;}
	.middle_top_left h2{ font-size:31px;}
	.gray_section h2{ font-size:22px;}
	.info_area h3{ font-size:13px;}
	.info_area{ width:250px;}
	.bottom_middle h2{ font-size:27px;}
	.footer h2{ font-size:14px;}
	.map-info{
		right: 5%;
	}
	
}
   
@media only screen and (min-width: 768px) and (max-width: 979px) {
	/****Ipad Portrait 768 Container 724 ****/
	.navigation ul li{ margin:0 9px 0 0;}
	.navigation ul li a{ font-size:10px;}
	.logo{ width:120px;}
	h1{
		font-size: 24px;
	}
	.widget_box{ width:253px; right: 10px; font-size: 13px;}
	.widget_box h2{ font-size: 23px; line-height:25px;}
	.widget_box p{ line-height:17px;}
	input.text_field{ width:207px;}
	.divider {
	border-bottom: 1px dashed #dddddd;
	margin: 25px 0;
	}
	.black_text h2{ font-size:45px;}
	.black_text span{ font-size:18px;}
	.middle_top_left h2{ font-size:26px;}
	.bottom_top_left{ padding: 0 20px 0 0; width: 350px;}
	.gray_section h2{ font-size:22px;}
	.gray_section h3{ font-size:22px;}
	.text ul li{ line-height: 22px; margin-bottom: 10px;}
	.bottom_video{ width:351px;}
	.bottom_middle{ width:726px;}
	.bottom_middle h2{ font-size:23px;}
	.bottom_top_left h2{ font-size:19px;}
	.bottom_gray_text{ margin: 0 0 0 16px;}
	.bottom_gray_butt{ margin: 0 30px 0 0;}
	.bottom_last span{ font-size:11px;}
	.footer_left{ width:256px; margin:0 30px 0 0;}
	.footer h2{ font-size:11px;}
	.footer_right{ width:265px;}
	.effect{
		width: 740px;
	}
	.effect h2{
		font-size: 20px;
	}
	.effect p,
	.effect li{
		font-size: 13px;
	}
	.effect .btn-orange{
		font-size: 13px;
	}
	.play-video{
		left:170px;
		top:-230px;
	}
	.pull-right.text-center{
		text-align: left;
		float: left
	}
	.map-info{
		right: 5%;
	}
	.navbar .nav > li > a { font-size:13px; padding: 0 11px;}
    .mainmenu ul > li.has-child::after{
        right: -3px!important;
        top: 13px!important;
    }

}
@media only screen and (min-width: 768px) {
    .mainmenu ul li:hover > ul {
        display: block!important;
    }
    .mainmenu ul > li{
        position: relative;
    }
    .mainmenu ul > li.has-child:after{
        content: '';
        display: block;
        background: url("../img/menu-arrow.png") 0 0 no-repeat;
        width: 10px;
        height: 6px;
        position: absolute;
        right: 0;
        top: 12px;
    }
}
@media only screen and (max-width: 767px) {
	/****Mobile Landscape 480 Container 100% ****/  
	.header_top_right{ float:none; margin:0 auto;}
	.tinynav{ display:block; float:right;}
	.tnav{ display:none;}
	.logo{ width:110px; float:left;}
	.navigation{ padding:18px 0 0;}
	.banner_left{ margin:0 0 0 10px;}
	.banner_left img{ width:165px;}
	
	.circle1{ width:90px; margin:0 -13px 0 0;}
	.circle2{ width:90px;}
	
	.widget_box{ width:204px; right:-3px;  font-size:12px; top:33px;}
	.widget_box h2{ font-size:18px; line-height:18px;}
	.widget_box p{ line-height:16px;}
	.step1{ padding: 6px 12px;}
	.step1 span{ font-size:12px;}
	.step1 span strong{ font-size:13px;}
	.step2{ padding:10px;}
	input.text_field{ width:158px;}
	.widget_box_bottom{ padding:10px 0 0;}
	.widget_box_bottom a{ margin:0 0 12px;}
	.widget_box_bottom span{ font-size:14px;}
	.widget_text{ left: -189px; top: 176px;}
	.widget_text img{ width:182px;}
	.widget_arrow{ left: -35px; top: 213px;}
	.black_text{ padding:0 0 0 10px;}
	.black_text h2{ font-size: 20px; margin:0 10px 0 0;}
	.black_text span{ font-size: 13px; line-height: 18px;}
	.middle_top_left h2{ font-size: 20px; line-height: 16px; font-family: 'helveticaregular';}
	.middle_top_left span{ font-size:16px; margin:15px 0; line-height: 18px;}
	.middle_top_left{ font-size:13px;}
	.middle_top_left p{ line-height:18px; margin: 0 0 14px;}
	.middle_top_right a{ display:inline-block; margin:0 0 20px;}
	.gray_section_left{ width:420px; margin:0 auto; font-size: 12px; line-height: 17px;}
	.gray_section h2{ font-size:20px; font-family: 'helveticaregular'; margin:0 0 5px;}
	.gray_section_left p{ margin:0 0 10px;}
	.gray_section_right{ width:420px; margin:0 auto;}
	.gray_section_right ul li{ font-size: 12px; line-height: 22px;}
	.bottom_top{ padding:60px 0 0;}
	.bottom_top_left{ float:none; padding:0px; margin:0 auto; font-size:12px;}
	.bottom_top_left h2{ font-size: 20px; font-family: 'helveticaregular';}
	.bottom_top_left p{ line-height:17px;}
	.bottom_top_left p span{ width:22px; display:inline-block;}
	.bottom_video{ float:none; margin:125px auto 0;}
	.video_text{ right: 13px; top: -94px;}
	.video_arrow{ right: 60px; top: -74px;}
	.spacer3{ min-height:30px;}
	.bottom_middle{ width:443px; margin: 0 auto 30px;}
	.bottom_middle h2{ font-size:20px; line-height:25px; font-family: 'helveticaregular'; margin:0 0 15px;}
	.bottom_middle span{ font-size:14px;}
	.bottom_middle strong{ font-size:14px;}
	.bottom_gray_text{ float:none; margin:0 auto 20px;}
	.bottom_gray_text span{ font-size:16px;}
	.bottom_gray_butt{ float:none; margin:0 auto;}
	.bottom_gray{ padding:20px 0;}
	.bottom_last{ padding:28px 0;}
	.footer{ 
		padding:28px 20px;
		margin: 0 -20px;
	}
	.footer_left{ float:none; margin:0 auto 30px;}
	.footer_middle{ float:none; margin:0 auto 30px;}
	.footer_right{ float:none; margin:0 auto;}
	.footer h2{ font-size:14px;}
	.effect{
		width: 740px;
	}
	.mainmenu img{margin: 10px 20px;float: left;}
	.responive-icon-bar{float: right; margin-top:20px; margin-right: 20px; color: white;}
	.responive-icon-bar .btn{background: none; border: none; box-shadow: none; margin-top: -4px;}
	.divider1{ margin: 100px 0;}
	.map-info{
		position: inherit;
		background: inherit;
		color: #333;
		padding: 0;
		margin-bottom: 30px;
	}
	.effect-contact:before, .effect-contact:after{
		display: none;
	}

	.nav-accordion {
	width: 100%;
	}
	.header_fixed{
		display: none;
	}
	.mainmenu{
		background: #2D2D2D;
		left: 0;
		margin: 0;
		padding: 0;
		top: 0px;
		width: 100%;

	}
	.mainmenu li,
	.mainmenu ul{
		margin:0px;
		padding: 0;
	}
	.mainmenu li a{
		text-shadow:none;
		font-size: 12px;
		text-transform: uppercase;
	}
	.collapsed-icon{
		display: inline-block;
		float: right;
		height: 30px;
		width: 30px;
	}
	.collapsed-icon .icon-bar1{ color: #fff; font-weight: normal; margin: 0; padding: 0}
	.inloggen-responsive{ color:white!important; margin-right: 30px; margin-top: 10px;}
    .inloggen-responsive:hover{
        text-decoration: underline;
    }
	.footer .btn-orange{
		display: block;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		width: 200px;
	}
	.footer .volg-ons {
		left: 0;
		top: 0;
	}
    .mainmenu .nav{
        padding: 0;
    }
    .wrap-top-logos{
        padding-top: 103px;
    }
    .top-logos li{
        margin-bottom: 20px;
    }
    .mainmenu ul li:hover > ul {
        display: none;
    }
    .mainmenu .top-logo:after{
        content: '';
        display: block;
        clear: both;
    }
    .wrap-top-logos .text-bottom{
        display: none;
    }
    .mainmenu ul > li.has-child:after{
        display: none;
    }
    .quotes-block{
		margin-left:-20px;
		margin-right:-20px;
		padding-left:20px;
		padding-right:20px;
	}
	.content-text .span12{padding:0;}

}

@media only screen and (max-width: 479px) {
	/****Mobile Portrait 320 ****/

	.body{padding-top: 60px !important;}
	.logo{ float:none; margin:0 auto 20px;}
	.navigation{ width:222px; float:none; padding:0px; margin:0 auto;}
	
	.spacer1{ min-height:20px;}
	.header_bottom{ margin:0 0 15px;}
	.widget_box{ position:inherit; margin:0 auto 20px;}
	.widget_text{ display:none;}
	.widget_arrow{ display:none;}
	.banner_left{ width:165px; margin:0 auto;}
	.black_text h2{ font-size: 25px; margin: 0 15px;}
	.black_text span{ font-size:15px;}
	.spacer2{ min-height:30px;}
	.middle_top_left h2{ font-size:15px;}
	.middle_top_left span{ font-size:13px; margin:10px 0;}
	.middle_top_left{ font-size:12px;}
	.gray_section{ padding: 20px 0 20px;}
	.divider{ margin:15px 0;}
	.gray_section_left{ width:268px;}
	.text ul li{ line-height: 18px; margin-bottom: 15px;}
	.gray_section h2{ font-size:20px; line-height:22px;}
	.gray_section h3{ font-size:18px; line-height:22px; margin: 20px 0;}
	.gray_section_right{ width:268px;}
	.red_butt{ width: 170px; height: 60px; margin: 0 0 0 -85px;}
	.red_butt a{ line-height:60px; font-size:15px;}
	.bottom_top_left{ width:282px;}
	.bottom_top_left h2{ font-size:17px; margin:0 0 13px;}
	.info_area h3{ font-size:13px; font-family: 'helveticaregular';}
	.bottom_video{ width:283px;}
	.bottom_video a{ width:80px; height:80px;  margin: -40px 0 0 -40px;}
	.bottom_middle{ width:283px;}
	.bottom_middle h2{ font-size:18px; line-height:22px;}
	.bottom_middle span{ font-size:13px;}
	.bottom_middle strong{ font-size:13px;}
	.bottom_gray_text{ width:265px;}
	.bottom_gray_text span{ font-size:14px; font-family: 'helveticaregular';}
	.bottom_gray_butt a{ font-size:15px;}
	.footer_left{ width:265px;}
	.footer{ margin:0 -20px; padding:20px;}
	.footer h2{ margin:0 0 15px; font-size:13px;}
	.footer_left{ font-size:12px; line-height:15px;}
	.footer_left ul li a{ font-size:12px;}
	.footer_right{ width:265px; font-size:12px; line-height:15px;}
	.footer_right p{ margin:0 0 12px;}
	a.footer_butt{ font-size:16px;}
	.footer_right ul{ text-align:center;}
	.footer_right ul li{ float:none; display:inline;} 
	.footer_right ul li a{ display:inline-block;}
	.btn-orange{font-size: 16px;}
	.logo-left{ padding-top:10px;}
	.inloggen-responsive{ color:white; margin-right: 30px; margin-top: 10px;}
	.inloggen-responsive:hover{ color:white; text-decoration: underline;}
	.middle_top_left{
		padding-top: 100px;
	}
	.play img{ left:0;}
	.play-video{top:-200px; left:inherit;}
	.h1{font-size: 22px;}
	.mainmenu img{margin: 10px 20px;}
	.responive-icon-bar{float: right; margin-top:20px; margin-right: 20px; color: white;}
	.responive-icon-bar .btn{background: none; border: none; box-shadow: none;}
	.divider1{ margin: 100px 0;}
	.map-info{
		position: inherit;
		background: inherit;
		color: #333;
		padding: 0;
		margin-bottom: 30px;
	}
	.effect-contact:before, .effect-contact:after{
		display: none;
	}

	.nav-accordion {
	width: 100%;
	}
	.header_fixed{
		display: none;
	}
	.mainmenu{
		background: #2D2D2D;
		left: 0;
		margin: 0;
		padding: 0;
		top: 0px;
		width: 100%;

	}
	.mainmenu li,
	.mainmenu ul{
		margin:0px;
		padding: 0;
	}
	.mainmenu li a{
		text-shadow:none;
		font-size: 12px;
		text-transform: uppercase;
	}
	.collapsed-icon{
		display: inline-block;
		float: right;
		height: 30px;
		width: 30px;
	}
	.collapsed-icon .icon-bar1{ color: #fff; font-weight: normal; margin: 0; padding: 0}
}