@charset "utf-8";
/* CSS Document */

/* Float Elements 
---------------------------------*/
.fl-lt {
	float: left;
}

.fl-rt {
	float: right;
}

/* Clear Floated Elements
---------------------------------*/
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.ssppamm,
#hide-field {
	display: none;
}

.clearfix:before,
.clearfix:after {
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix:after {
	clear: both;
}

@font-face {
	font-family: 'helveticaregular';
	src: url('../fonts/helvetica-webfont.eot');
	src: url('../fonts/helvetica-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/helvetica-webfont.woff') format('woff'),
	url('../fonts/helvetica-webfont.ttf') format('truetype'),
	url('../fonts/helvetica-webfont.svg#helveticaregular') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'helveticabold';
	src: url('../fonts/helvetica-bold-webfont.eot');
	src: url('../fonts/helvetica-bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/helvetica-bold-webfont.woff') format('woff'),
	url('../fonts/helvetica-bold-webfont.ttf') format('truetype'),
	url('../fonts/helvetica-bold-webfont.svg#helveticabold') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'Glyphicons Halflings';

	src: url('../fonts/glyphicons-halflings-regular.eot');
	src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/glyphicons-halflings-regular.woff') format('woff'),
	url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'),
	url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

/* Primary Styles
---------------------------------*/
body {
	background: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: normal;
	color: #515151;
	margin: 0;
	line-height: 22px;
}

.intro {
	font-size: 18px;
	line-height: 28px;
	margin-bottom: 60px;
}

.handwrite {
	font-family: 'Architects Daughter', cursive;
}

.handwrite-review {
	font-family: 'Architects Daughter', cursive;
	font-size: 20px;
	line-height: 29px;
	margin-top: 160px;
	padding: 0 40px;
}

h1, h2, h3, h4 {
	font-family:'Open Sans', Arial, sans-serif;
	font-weight: normal;
}

h1 {
	font-size: 29px;
}

h2 {
	font-size: 28px;
}

ul, li {
	list-style: none;
	margin: 0;
	font-size: 15px;
	line-height: 22px
}

li span {
	margin-right: 10px;
	display: block;
}

.small-kop {
	font-size: 20px;
}

.text h2,
.text h3 {
	font-size: 24px;
}

.divider {
	border-bottom: 1px dashed #dddddd;
	margin: 45px 0;
}

.divider1 {
	border-bottom: none;
	margin: 120px 0;
}

.text-center {
	text-align: center;;
}

.header_top {
	background: #1f1f1f;
}

.header_top_right {
	float: right;
}

.header_top_right ul {
	margin: 0px;
	padding: 0;
	list-style: none;
}
.header_top_right ul:after{
	content: '';
	display: block;
	clear: both;
}
.header_top_right ul li {
	float: left;
}

.header_top_right ul li a {
	height: 24px;
	line-height: 24px;
	text-align: center;
	text-decoration: none;
	display: block;
	color: #fff;
	font-size: 14px;
	padding: 6px 20px 4px;
}
.header_top_right ul li a:hover {
	text-decoration: underline;
}
.header_top_right ul li a.login-link{
	background-color: #FF931F;
}
.header_top_right ul li a.last{
	padding: 6px 31px 4px;
}
.header_top_right ul li a.login {
	background: url(../img/header_icon1.png) no-repeat left 12px;
	padding: 6px 0px 0px 14px;
	margin: 0px 4px 0px 14px;
	color: white;
	line-height: 24px;
}

.play-video {
	position: relative;
	font-size: 26px;
	left: -190px;
	color: rgba(0, 0, 0, 0.8);
	font-size: 80px;
}

.play-video:hover {
	color: rgba(0, 0, 0, 0.9);
}

.play img {
	position: relative;
	left: 35px;
}

.contact-page {
	position: relative;
	background: #DA2128;
	margin: 0 auto;
	height: auto;
	color: white;
	padding: 15px;
}

.contact-page h3 {
	color: white;
}

/* partner pagina */
.detail-partner-img {
	padding: 30px 0;
	margin-top: 50px;
}

.effect {
	position: relative;
	width: 960px;
	background: #fff;
	margin: 0 auto;
	height: 200px;
}

.effect .voordelen li {
	list-style-position: outside;
	position: relative;
	margin-left: 30px;

}

.effect .voordelen li span {
	position: absolute;
	left: -30px;
}

.effect .first-row h2,
.effect .first-row p {
	padding-left: 25px;
}

.review {
	margin: 20px 0;
}

.review p {
	font-size: 12px;
}

.review .image {
	border-radius: 50%;
}

.effect:before, .effect:after {
	z-index: -1;
	position: absolute;
	content: " ";
	bottom: 15px;
	left: 1px;
	width: 50%;
	top: 80%;
	max-width: 300px;
	background: #777;
	-webkit-box-shadow: 0 15px 10px #777;
	-moz-box-shadow: 0 15px 10px #777;
	box-shadow: 0 15px 10px #777;
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	transform: rotate(-3deg);
}

.effect:after {
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	transform: rotate(3deg);
	right: 1px;
	left: auto;
}

.effect-contact {
	margin-top: 75px;
}

.effect-contact:before, .effect-contact:after {
	z-index: -1;
	position: absolute;
	content: "";
	bottom: 15px;
	left: 2px;
	width: 50%;
	top: 80%;
	max-width: 300px;
	background: #777;
	-webkit-box-shadow: 0 15px 10px #777;
	-moz-box-shadow: 0 15px 10px #777;
	box-shadow: 0 15px 10px #777;
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	transform: rotate(-3deg);
}

.usp-text ul li {
	display: inline-flex;
	margin-left: 25px;
	margin-bottom: 15px;
	position: relative;
}

.usp-text ul li:before {
	color: #00b200;
	content: "";
	font-family: 'Glyphicons Halflings';
	font-size: 16px;
	font-weight: normal;
	left: -25px;
	position: absolute;
}

.effect-contact:after {
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	transform: rotate(3deg);
	right: 2px;
	left: auto;
}

#header-static-links {
	position: absolute;
	top: 2px;
	z-index: 9999;
	padding-right: 30px;
}

.header_fixed .header_top_right {
	float: right;
	width: 170px;
}

.header_bottom {
	margin: 0 0 15px;
}

.logo-header {
	padding: 15px 0 0;
}

.navigation,
.nav {
	float: right;
	padding: 23px 0 0;
	position: relative;
}

.navigation img,
.nav img {
	display: none;
}

.navigation ul,
.nav ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.navigation ul li.last
.nav ul li.last {
	margin: 0px;
}

.navigation ul li a,
.nav ul li a {
	text-decoration: none;
	display: block;
	color: #353535;
	font-size: 12px;
}

.navigation ul li a:hover,
.nav ul li a:hover {
	text-decoration: underline;
}

.navigation ul li a.second
.nav ul li a.second {
	background: url(../img/nav_arrow.png) no-repeat right center;
	padding: 0 12px 0 0;
}
.mainmenu .top-logo{
	padding-top: 2px;
	margin-left: 2px;
}

.mainmenu ul li {
	position: relative;
}

.mainmenu ul li ul {
	background-clip: padding-box;
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	float: left;
	right: 0;
	list-style: none outside none;
	margin: 2px 0 0;
	min-width: 160px;
	padding: 0px 0 15px 0;
	position: absolute;
	top: 80%;
	z-index: 9999;
	display: none;
}

.mainmenu ul ul:hover ul {
	right: -340px;
	top: -25px;
	width: 200px;
	position: absolute;
}

.mainmenu ul ul ul:before {
	border: none;
}

.mainmenu ul li ul li {
	line-height: 20px;
	margin: 0;
	padding: 0;
}

.mainmenu ul li:hover > ul {
	display: block;
}

.mainmenu img {
	margin-top: 20px;
}

.navigation ul:before,
.nav ul:before {
	border-bottom: 6px solid #FFFFFF;
	border-left: 6px solid rgba(0, 0, 0, 0);
	border-right: 6px solid rgba(0, 0, 0, 0);
	content: "";
	display: inline-block;
	right: 40px;
	position: absolute;
	top: -6px;
}

.navigation ul > li > a,
.nav ul > li > a {
	clear: both;
	color: #5D5D5D;
	display: block;
	font-weight: normal;
	line-height: 35px;
	padding: 0px 20px;
	white-space: nowrap;
	z-index: 9999;
}

.navigation ul ul > li a,
.nav ul ul > li a {
	line-height: 35px;
	padding: 0px 20px;
	display: block;
	white-space: nowrap;
}

.header_fixed ul li {
	float: left;
	position: relative;
}

.header_fixed ul li:hover > ul {
	display: block;
}

.header_fixed ul ul:before {
	border-bottom: 6px solid #FFFFFF;
	border-left: 6px solid rgba(0, 0, 0, 0);
	border-right: 6px solid rgba(0, 0, 0, 0);
	content: "";
	display: inline-block;
	position: absolute;
	right: 40px;
	top: -6px;
}

.header_fixed ul ul li {
	float: none;
}

.header_fixed ul ul {
	background-clip: padding-box;
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	display: none;
	float: left;
	list-style: none outside none;
	margin: 2px 0 0;
	min-width: 160px;
	padding: 0 0 5px;
	position: absolute;
	right: 0;
	top: 30px;
}

.header_fixed ul ul ul {
	right: -200px;
	width: 200px;
	top: 0px;
}

.header_fixed ul ul ul:before {
	border: none;
}

.header_fixed ul ul a {
	clear: both;
	color: #5D5D5D;
	display: block;
	font-weight: normal;
	white-space: nowrap;
	z-index: 9999;
}

.banner {
	width: 100%;
	background: url(../img/banner_bg.jpg) no-repeat center top fixed!important;
	position: relative;
	padding: 83px 0 0;
    min-height: 570px;
}
.banner h1{
	font-size: 58px;
	color: #ffffff;
	font-weight: bold;
	padding-bottom: 16px;
}
.banner .text{
	color: rgb(255, 255, 255);
	font-size: 17px;
	font-weight: bold;
	line-height: 24px;
	letter-spacing: 0.5px;
	padding-bottom: 14px;
}
.banner .btn-orange{
	margin: 0px 9px 0 -3px;
	padding: 15px 46px 15px 22px;
	text-transform: none;
    position: relative;
    font-size: 19px;
}
.banner .btn-orange::after {
    position: absolute;
    content: "";
    border-style: solid;
    border-width: 6px;
    border-color: transparent transparent transparent #FFF;
    top: 21px;
    right: 12px;
}
.btn-transparent{
	border: 1px solid #fdfdfd;
	background: transparent;
	color: #FFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 16px 53px 16px 30px;
	text-transform: none;
    position: relative;
    font-size: 18px;
    font-weight: bold;
}
.btn-transparent:after{
    content: '';
    display: block;
    width: 16px;
    height: 17px;
    background: url("../img/btn_transparent-icon.png") 0 0 no-repeat;
    position: absolute;
    right: 27px;
    top: 19px;
}
.star-rating {
	background: url("../img/star1.png") repeat-x scroll 0 0;
	height: 19px;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	width: 140px;
}
.star-rating li {
	float: left;
}
.star-rating a.one-star {
	left: 10px;
}
.star-rating a.two-stars {
	left: 38px;
}
.star-rating a.three-stars {
	left: 66px;
}
.star-rating a.four-stars {
	left: 94px;
}
.star-rating a.five-stars {
    left: 122px;
}

.star-rating li a {
	display: block;
	height: 19px;
	padding: 0;
	position: absolute;
	text-decoration: none;
	text-indent: -9000px;
	width: 18px;
	z-index: 2;
	outline: none;
}
.banner_left {
	margin: 0 0 0 55px;
	float: left;
}
.in-baner{
	max-width: 588px;
	padding-top: 143px;
}
.in-baner .wrap-btn{
    padding-bottom: 20px;
}
.in-baner .star-box:after{
    content: '';
    display: block;
    clear: both;
}
.in-baner .star-box .star-rating{
    float: left;
}
.in-baner .star-box .star-text{
    float: left;
    padding-left: 10px;
    font-size: 16px;
    color: #ffffff;
}
.wrap-top-logos{
    background: #f5f5f5;
}
.wrap-top-logos .text{
    margin-top: -43px;
    font-size: 16px;
    color: #ffffff;
    text-align: right;
}
.wrap-top-logos .text span{
    position: relative;
}
.top-logos ul:after{
    content: '';
    display: block;
    clear: both;
}
.top-logos ul{
    font-size: 0;
    letter-spacing: -1px;
    line-height: 0;
    padding: 20px 0 15px;
}
.wrap-top-logos .text span:after{
    content: '';
    display: block;
    background: url("../img/banner-arrow.png") 0 0 no-repeat;
    width: 34px;
    height: 17px;
    position: absolute;
    top: 8px;
    left: -44px;
}
.top-logos li {
    color: #212121;
    display: inline-block;
    float: none !important;
    font-size: 18px;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    vertical-align: middle;
}
.header-info {
	position: absolute;
	z-index: 9;
	left: 50%;
	margin-left: -270px;
	top: 130px;
	width: 563px;
	height: 211px;
}

.header-info img {

}

.circle1 {
	float: left;
	margin: 0 -27px 0 0;
	position: relative;
	z-index: 999;
}

.circle2 {
	float: left;
}

.black_section {
	background: #000;
	padding: 28px 0;
}

.black_text {
	padding: 0 0 0 53px;
}

.black_text h2 {
	margin: 0 20px 0 0;
	padding: 0px;
	font-size: 56px;
	color: #fff;
	font-family: 'helveticabold';
	float: left;
	font-weight: normal;
	line-height: 42px;
}

.black_text span {
	display: block;
	font-size: 21px;
	color: #fff;
	line-height: 22px;
	font-family: 'helveticaregular';
}

.faq ol li {
	list-style-type: decimal;
	font-size: 13px;
}

.listLabel {
	display: inline-block;
	width: 180px;
}

.faq ol li h3 {
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}

.faq span {
	display: inline-block;
	font-weight: bold
}

.spacer2 {
	min-height: 125px;
}

.middle_top_left {
	font-size: 15px;
	color: #515151;
	padding: 0 0 18px;
}

.middle_top_left span {
	display: block;
	font-size: 20px;
	color: #000;
	font-family: 'helveticaregular';
	margin: 30px 0 28px;
	line-height: 27px;
}

.middle_top_left p {
	margin: 0 0 30px;
	padding: 0px;
	line-height: 27px;
}

.middle_top_right {
	text-align: center;
}

.logo-left {
	padding-top: 100px;
	height: 100%;
}

.middle_top_right a {
	text-decoration: none;
	display: block;
}

.back_butt {
	text-decoration: none;
	display: block;
	position: fixed;
	right: 56px;
	top: 90%;
	z-index: 999;
}

.partners {
	text-align: center;
}

.partners img {
	margin: 45px 32px 0 0
}

.partners img.last {
	margin: 45px 0 0 0;
}

.gray_section {
	padding: 33px 0 40px;
	position: relative;
}

.gray_section.gray {
	background: #f2f2f2;
}

.gray_section .spacing {
	margin-bottom: 40px;
}

.gray_section h2,
.gray_section h3 {
	margin: 0 0 14px;
	padding: 0px;
	font-size: 24px;
	color: #000;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	line-height: 27px;
}

.gray_section_left {
	font-size: 14px;
	color: #515151;
	line-height: 28px;
	font-family: 'helveticaregular';
}

.gray_section_left p {
	margin: 0 0 28px;
	padding: 0px;
}

.gray_section_right {
}

.gray_section_right ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.text ul li {
	padding: 0 0 0 20px;
	text-decoration: none;
	display: block;
	font-size: 14px;
	color: #515151;
	font-family: 'helveticaregular';
	line-height: 30px;
	position: relative;
	margin-left: 10px;
}

.text ul li:before {
	content: "\e013";
	color: #00B200;
	font-family: 'Glyphicons Halflings';
	font-weight: normal;
	position: absolute;
	font-size: 16px;
	left: -5px;
}

.steps {
	margin-left: 50px;
	margin-top: 20px;
	position: relative;
}

.steps h3 {
	color: #505050;
	line-height: 22px;
	font-size: 20px;
}

.steps p {
	line-height: 20px;
	font-size: 14px;

}

.mainmenu {
	background: #fff;
	position: absolute;
	z-index: 999;
	top: 34px;
	width: 100%;
}
.mainmenu .span12.visible-phone:after{
    content: '';
    display: block;
    clear: both;
}
.mainmenu .nav {
	margin: 10px 10px 3px 0px;
	padding: 20px 0px;
}

.mainmenu li {
	display: inline;
	line-height: 30px;
}

.mainmenu li a {
	color: #1f1f1f!important;
	font-size: 15px;
	padding: 0px 20px;
	letter-spacing: 0.4px;
}
.mainmenu .navbar .nav > li:last-child a{
	padding-right: 0;
}
.steps:before {
	font-family: 'Glyphicons Halflings';
	position: absolute;
	left: -50px;
	color: black;
	font-size: 22px;
	font-weight: normal;
	top: 5px;
}

.step-one:before {
	content: "\2709";
}

.step-two:before {
	content: "";
}

.step-three:before {
	content: "";
}

.step-four:before {
	content: "\e182";
}

.step-five:before {
	content: "";
}

.red_butt {
	background: #ff931f;
	width: 208px;
	height: 60px;
	position: absolute;
	left: 50%;
	bottom: -30px;
	margin: 0 0 0 -104px;
	border-radius: 4px;
	border-bottom: 5px solid #e97900;
}

.red_butt a {
	text-decoration: none;
	display: block;
	color: #fff;
	font-size: 17px;
	text-align: center;
	line-height: 60px;
	font-family: 'Open Sans', sans-serif;
}

.red_butt a:hover {
	text-decoration: underline;;
	color: #fff;
	border-radius: 4px;
}

.btn-orange:hover {
	background: #ff931f
}

.bottom_top {
	padding: 86px 0 0;
}

.bottom_top_left {
	width: 444px;
	float: left;
	font-size: 14px;
	color: #515151;
	font-family: 'helveticaregular';
	padding: 0 48px 0 0;
}

.bottom_top_left h2 {
	margin: 0 0 20px;
	padding: 0px;
	font-size: 24px;
	color: #000;
	font-family: 'Open Sans', sans-serif;
	line-height: normal;
	font-weight: normal;
}

.bottom_top_left p {
	margin: 0px;
	padding: 0px;
	line-height: 28px;
}

.bottom_video {
	width: 445px;
	float: right;
	position: relative;
	text-align: center;
	margin: 76px 0 0;
}

.bottom_video a {
	width: 112px;
	height: 112px;
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -56px 0 0 -56px;
}

.video_text {
	position: absolute;
	top: -110px;
	right: 0px;
}

.video_arrow {
	position: absolute;
	right: 60px;
	top: -79px;
}

.info_area {
	width: 290px;
	margin: 5px 0 0;
}

.image {
	float: left;
	margin: 0 10px 0 0;
}

.info_area h3 {
	margin: 3px 0 4px;
	padding: 0px;
	font-size: 14px;
	color: #515151;
	font-family: 'helveticabold';
	line-height: normal;
	font-weight: normal;
}

.bottom_middle {
	width: 865px;
	margin: 0 auto 100px;
	text-align: center;
}

.bottom_middle h2 {
	margin: 0 0 30px;
	padding: 0px;
	font-size: 29px;
	color: #515151;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}

.spacer3 {
	min-height: 110px;
}

.bottom_middle span {
	display: block;
	font-size: 17px;
	color: #515151;
	font-family: 'helveticaregular';
	margin: 0 0 4px;
}

.bottom_middle strong {
	display: block;
	font-size: 17px;
	color: #515151;
}

.bottom_middle strong a {
	text-decoration: none;
	color: #515151;
}

.bottom_gray {
	background: #f5f5f5;
	padding: 30px 0;
}

.bottom_gray_text {
	width: 418px;
	float: left;
	text-align: center;
	margin: 11px 0 0 130px;
}

.bottom_gray_text span {
	display: block;
	color: #000;
	font-size: 20px;
}

.bottom_gray_butt {
	background: #ff931f;
	width: 238px;
	height: 70px;
	float: right;
	border-radius: 4px;
	margin: 0 50px 0 0;
	position: relative;
	border-bottom: 4px solid #e97900;
}

.bottom_gray_butt a {
	text-decoration: none;
	display: block;
	color: #fff;
	text-align: center;
	font-size: 18px;
	line-height: 70px;
}

.bottom_gray_butt a:hover {
	background: #E97900;
	border-radius: 4px;
}

.bottom_last {
	padding: 66px 0 46px;
	text-align: center;
}

.bottom_last span {
	display: block;
	font-size: 13px;
	color: #515151;
}

.footer {
	background: #172229;
	padding: 51px 0 28px;
}

.footer .space {
	margin-top: 55px;
}

.footer h4 {
	margin: 20px 0px;
	padding: 0px;
	color: #fff;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 15px;
	font-weight: normal;

}

.footer p {
	margin: 0 0 4px;
	padding: 0px;
	font-size: 13px;
	color: #898E92
}

.footer li a {
	font-size: 13px;
	color: #898E92
}

.footer ul.social li {
	float: left;
	margin-right: 10px;
}

.footer .absolute-footer {
	margin-top: 50px;
	color: #898E92;
	border-top: 1px solid #3c464b;
}

.footer .absolute-footer a {
	color: #898E92;
	line-height: 60px;
}

.footer .software li {
	float: left;
	margin-right: 10px;
	padding-right: 10px;
	border-right: 1px solid;
}

.footer .volg-ons {
	left: 50px;
	position: relative;
	top: 13px;
}

a.footer_butt {
	background: #fff;
	width: 207px;
	height: 46px;
	text-decoration: none;
	display: block;
	color: #515151;
	font-size: 20px;
	text-align: center;
	line-height: 46px;
= border-radius : 4 px;
	margin: 0 0 28px;
	position: relative;
}

a.footer_butt:hover {
	background: #fff;
	color: #515151;
	border-radius: 4px;
}

.widget_box {
	background: #f2f2f2;
	border: 1px solid #e1e1e1;
	width: 415px;
	border-radius: 10px;
	padding: 16px 33px 22px 22px;
	position: absolute;
	right: 170px;
	top: 220px;
	font-size: 17px;
	color: #515151;
}

.widget_box h2 {
	margin: 0px;
	padding: 0px;
	font-size: 36px;
	color: #000;
	font-family: 'Open Sans', sans-serif;
	line-height: 45px;
	font-weight: normal;
}

.widget_box p {
	margin: 10px 0 20px;
	padding: 0px;
	line-height: 22px;
}

.widget_box p span {
	color: #da2128;
}

.step_area {
	border: 1px solid #cccccc;
}

.step1 {
	background: #d5d5d5;
	padding: 18px 12px;
	border-bottom: 1px solid #cccccc;
}

.step1 span {
	display: block;
	font-size: 12px;
	color: #333333;
	font-family: 'helveticaregular';
}

.step1 span strong {
	color: #484848;
	font-size: 15px;
	margin: 0 5px 0 0;
}

.step2 {
	background: #fff;
	padding: 15px;
	border-bottom: 1px solid #cccccc;
}

input.text_field {
	width: 353px;
	height: 31px;
	font-size: 14px;
	color: #989898;
	border: 1px solid;
	border-radius: 4px;
	margin: 0 0 12px;
	padding: 0 8px;
}

.step2 span {
	display: block;
	font-size: 12px;
	color: #515151;
	float: right;
}

.step1.step3 {
	background: #efefef;
	border-bottom: none;
}

.widget_box_bottom {
	padding: 23px 0 0;
}

.widget_box_bottom a {
	text-decoration: none;
	display: block;
	font-size: 12px;
	color: #515151;
	font-family: 'helveticaregular';
	margin: 0 0 25px;
}

.widget_box_bottom span {
	display: block;
	text-align: center;
	font-size: 16px;
	color: #585858;
	font-family: 'helveticabold';
}

.widget_text {
	left: -353px;
	position: absolute;
	top: 115px;
}

.widget_arrow {
	left: -53px;
	position: absolute;
	top: 183px;
}

.tinynav {
	display: none;
}

.btn-orange {
	border-left: none;
	border-right: none;
	border-top: none;
	padding: 10px 18px;
	font-size: 18px;
	background: #FF931F;
	border-bottom: 4px solid #E97900;
	color: white;
	text-transform: uppercase;
	margin-top: 20px;
	display: inline-block;
	border-radius: 4px;
	margin-left: 50px;
}
.btn-orange:focus{color: #fff;}
.btn-orange {
	color: white;
}

.btn-orange:hover {
	color: white;
	text-decoration: underline;
}

.btn-small {
	padding: 5px 9px;
	font-size: 14px;
}

.no-margin {
	margin-left: 0;
}

.header_fixed {
	background: #fff;
	width: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 999;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
	display: block;
	margin: 0;
	padding: 0;
}

.header_fixed img {
	margin: 30px 0 0 0!important;
    max-width: 100px;
}

.header_fixed .logo-header {
	border: none;
}
.header_fixed .logo-header a{
    display: block;
}
/* partner */
.logo {
	/*background: none repeat scroll 0 0 #F4F4F4; */
	border: 1px solid #DDDDDD;
	margin: 15px 0;
	width: 140px;
	height: 140px;
}

/* contact */
.map-info {
	margin: 0;
	min-width: 260px;
	padding: 25px;
	position: absolute;
	right: 20%;
	top: 290px;
	background: #DA2128;
	color: white;
}

.map-info i {
	color: white;
}

.map-info h3 {
	color: white;
}

/* blog */
.blog-items {
	padding: 15px;

}

.blog-items li:before {
	display: none;
}

.blog-items ul {
	border-top: 1px solid #e1e1e1;
}

.blog-items ul li {
	border-bottom: 1px solid #e1e1e1;
	margin: 0px;
	padding: 10px 0px;
}

/*
.blog-items ul li:after{
	color: #00B200;
	content: "";
	font-family: 'Glyphicons Halflings';
	font-size: 16px;
	font-weight: normal;
	left: -5px;
	position: absolute;
   }
   */
.blog-items li a {
	color: #333;
	padding: 3px;
	line-height: 10px;
}

.video-text,
.video-tekst {
	padding-top: 100px;
}

.video-text2 {
	padding-top: 100px;
}

/* panel */
.panel {
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-body {
	padding: 15px;
}

.panel-heading {
	padding: 10px 15px;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.panel-heading > .dropdown .dropdown-toggle {
	color: inherit;
}

.panel-title {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 16px;
	color: inherit;
}

.panel-title > a {
	color: inherit;
}

.panel-footer {
	padding: 10px 15px;
	background-color: #f5f5f5;
	border-top: 1px solid #ddd;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.panel > .list-group {
	margin-bottom: 0;
}

.panel > .list-group .list-group-item {
	border-width: 1px 0;
	border-radius: 0;
}

.panel > .list-group:first-child .list-group-item:first-child {
	border-top: 0;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.panel > .list-group:last-child .list-group-item:last-child {
	border-bottom: 0;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.panel-heading + .list-group .list-group-item:first-child {
	border-top-width: 0;
}

.panel > .table,
.panel > .table-responsive > .table {
	margin-bottom: 0;
}

.panel > .table:first-child,
.panel > .table-responsive:first-child > .table:first-child {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.panel > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child th:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:first-child {
	border-top-left-radius: 3px;
}

.panel > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel > .table:first-child > tbody:first-child > tr:first-child th:last-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:last-child {
	border-top-right-radius: 3px;
}

.panel > .table:last-child,
.panel > .table-responsive:last-child > .table:last-child {
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.panel > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child th:first-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:first-child {
	border-bottom-left-radius: 3px;
}

.panel > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child th:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:last-child {
	border-bottom-right-radius: 3px;
}

.panel > .panel-body + .table,
.panel > .panel-body + .table-responsive {
	border-top: 1px solid #ddd;
}

.panel > .table > tbody:first-child > tr:first-child th,
.panel > .table > tbody:first-child > tr:first-child td {
	border-top: 0;
}

.panel > .table-bordered,
.panel > .table-responsive > .table-bordered {
	border: 0;
}

.panel > .table-bordered > thead > tr > th:first-child,
.panel > .table-responsive > .table-bordered > thead > tr > th:first-child,
.panel > .table-bordered > tbody > tr > th:first-child,
.panel > .table-responsive > .table-bordered > tbody > tr > th:first-child,
.panel > .table-bordered > tfoot > tr > th:first-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > th:first-child,
.panel > .table-bordered > thead > tr > td:first-child,
.panel > .table-responsive > .table-bordered > thead > tr > td:first-child,
.panel > .table-bordered > tbody > tr > td:first-child,
.panel > .table-responsive > .table-bordered > tbody > tr > td:first-child,
.panel > .table-bordered > tfoot > tr > td:first-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > td:first-child {
	border-left: 0;
}

.panel > .table-bordered > thead > tr > th:last-child,
.panel > .table-responsive > .table-bordered > thead > tr > th:last-child,
.panel > .table-bordered > tbody > tr > th:last-child,
.panel > .table-responsive > .table-bordered > tbody > tr > th:last-child,
.panel > .table-bordered > tfoot > tr > th:last-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > th:last-child,
.panel > .table-bordered > thead > tr > td:last-child,
.panel > .table-responsive > .table-bordered > thead > tr > td:last-child,
.panel > .table-bordered > tbody > tr > td:last-child,
.panel > .table-responsive > .table-bordered > tbody > tr > td:last-child,
.panel > .table-bordered > tfoot > tr > td:last-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > td:last-child {
	border-right: 0;
}

.panel > .table-bordered > thead > tr:first-child > td,
.panel > .table-responsive > .table-bordered > thead > tr:first-child > td,
.panel > .table-bordered > tbody > tr:first-child > td,
.panel > .table-responsive > .table-bordered > tbody > tr:first-child > td,
.panel > .table-bordered > thead > tr:first-child > th,
.panel > .table-responsive > .table-bordered > thead > tr:first-child > th,
.panel > .table-bordered > tbody > tr:first-child > th,
.panel > .table-responsive > .table-bordered > tbody > tr:first-child > th {
	border-bottom: 0;
}

.panel > .table-bordered > tbody > tr:last-child > td,
.panel > .table-responsive > .table-bordered > tbody > tr:last-child > td,
.panel > .table-bordered > tfoot > tr:last-child > td,
.panel > .table-responsive > .table-bordered > tfoot > tr:last-child > td,
.panel > .table-bordered > tbody > tr:last-child > th,
.panel > .table-responsive > .table-bordered > tbody > tr:last-child > th,
.panel > .table-bordered > tfoot > tr:last-child > th,
.panel > .table-responsive > .table-bordered > tfoot > tr:last-child > th {
	border-bottom: 0;
}

.panel > .table-responsive {
	margin-bottom: 0;
	border: 0;
}

.panel-group {
	margin-bottom: 20px;
}

.panel-group .panel {
	margin-bottom: 0;
	overflow: hidden;
	border-radius: 4px;
}

.panel-group .panel + .panel {
	margin-top: 5px;
}

.panel-group .panel-heading {
	border-bottom: 0;
}

.panel-group .panel-heading + .panel-collapse .panel-body {
	border-top: 1px solid #ddd;
}

.panel-group .panel-footer {
	border-top: 0;
}

.panel-group .panel-footer + .panel-collapse .panel-body {
	border-bottom: 1px solid #ddd;
}

.panel-default {
	border-color: #ddd;
}

.panel-default > .panel-heading {
	color: #333;
	background-color: #f5f5f5;
	border-color: #ddd;
}

.panel-default > .panel-heading + .panel-collapse .panel-body {
	border-top-color: #ddd;
}

.panel-default > .panel-footer + .panel-collapse .panel-body {
	border-bottom-color: #ddd;
}

.panel-primary {
	border-color: #428bca;
}

.panel-primary > .panel-heading {
	color: #fff;
	background-color: #428bca;
	border-color: #428bca;
}

.panel-primary > .panel-heading + .panel-collapse .panel-body {
	border-top-color: #428bca;
}

.panel-primary > .panel-footer + .panel-collapse .panel-body {
	border-bottom-color: #428bca;
}

.glyphicon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: normal;
	line-height: 1;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.glyphicon-asterisk:before {
	content: "\2a";
}

.glyphicon-plus:before {
	content: "\2b";
}

.glyphicon-euro:before {
	content: "\20ac";
}

.glyphicon-minus:before {
	content: "\2212";
}

.glyphicon-cloud:before {
	content: "\2601";
}

.glyphicon-envelope:before {
	content: "\2709";
}

.glyphicon-pencil:before {
	content: "\270f";
}

.glyphicon-glass:before {
	content: "\e001";
}

.glyphicon-music:before {
	content: "\e002";
}

.glyphicon-search:before {
	content: "\e003";
}

.glyphicon-heart:before {
	content: "\e005";
}

.glyphicon-star:before {
	content: "\e006";
}

.glyphicon-star-empty:before {
	content: "\e007";
}

.glyphicon-user:before {
	content: "\e008";
}

.glyphicon-film:before {
	content: "\e009";
}

.glyphicon-th-large:before {
	content: "\e010";
}

.glyphicon-th:before {
	content: "\e011";
}

.glyphicon-th-list:before {
	content: "\e012";
}

.glyphicon-ok:before {
	content: "\e013";
}

.glyphicon-remove:before {
	content: "\e014";
}

.glyphicon-zoom-in:before {
	content: "\e015";
}

.glyphicon-zoom-out:before {
	content: "\e016";
}

.glyphicon-off:before {
	content: "\e017";
}

.glyphicon-signal:before {
	content: "\e018";
}

.glyphicon-cog:before {
	content: "\e019";
}

.glyphicon-trash:before {
	content: "\e020";
}

.glyphicon-home:before {
	content: "\e021";
}

.glyphicon-file:before {
	content: "\e022";
}

.glyphicon-time:before {
	content: "\e023";
}

.glyphicon-road:before {
	content: "\e024";
}

.glyphicon-download-alt:before {
	content: "\e025";
}

.glyphicon-download:before {
	content: "\e026";
}

.glyphicon-upload:before {
	content: "\e027";
}

.glyphicon-inbox:before {
	content: "\e028";
}

.glyphicon-play-circle:before {
	content: "\e029";
}

.glyphicon-repeat:before {
	content: "\e030";
}

.glyphicon-refresh:before {
	content: "\e031";
}

.glyphicon-list-alt:before {
	content: "\e032";
}

.glyphicon-lock:before {
	content: "\e033";
}

.glyphicon-flag:before {
	content: "\e034";
}

.glyphicon-headphones:before {
	content: "\e035";
}

.glyphicon-volume-off:before {
	content: "\e036";
}

.glyphicon-volume-down:before {
	content: "\e037";
}

.glyphicon-volume-up:before {
	content: "\e038";
}

.glyphicon-qrcode:before {
	content: "\e039";
}

.glyphicon-barcode:before {
	content: "\e040";
}

.glyphicon-tag:before {
	content: "\e041";
}

.glyphicon-tags:before {
	content: "\e042";
}

.glyphicon-book:before {
	content: "\e043";
}

.glyphicon-bookmark:before {
	content: "\e044";
}

.glyphicon-print:before {
	content: "\e045";
}

.glyphicon-camera:before {
	content: "\e046";
}

.glyphicon-font:before {
	content: "\e047";
}

.glyphicon-bold:before {
	content: "\e048";
}

.glyphicon-italic:before {
	content: "\e049";
}

.glyphicon-text-height:before {
	content: "\e050";
}

.glyphicon-text-width:before {
	content: "\e051";
}

.glyphicon-align-left:before {
	content: "\e052";
}

.glyphicon-align-center:before {
	content: "\e053";
}

.glyphicon-align-right:before {
	content: "\e054";
}

.glyphicon-align-justify:before {
	content: "\e055";
}

.glyphicon-list:before {
	content: "\e056";
}

.glyphicon-indent-left:before {
	content: "\e057";
}

.glyphicon-indent-right:before {
	content: "\e058";
}

.glyphicon-facetime-video:before {
	content: "\e059";
}

.glyphicon-picture:before {
	content: "\e060";
}

.glyphicon-map-marker:before {
	content: "\e062";
}

.glyphicon-adjust:before {
	content: "\e063";
}

.glyphicon-tint:before {
	content: "\e064";
}

.glyphicon-edit:before {
	content: "\e065";
}

.glyphicon-share:before {
	content: "\e066";
}

.glyphicon-check:before {
	content: "\e067";
}

.glyphicon-move:before {
	content: "\e068";
}

.glyphicon-step-backward:before {
	content: "\e069";
}

.glyphicon-fast-backward:before {
	content: "\e070";
}

.glyphicon-backward:before {
	content: "\e071";
}

.glyphicon-play:before {
	content: "\e072";
}

.glyphicon-pause:before {
	content: "\e073";
}

.glyphicon-stop:before {
	content: "\e074";
}

.glyphicon-forward:before {
	content: "\e075";
}

.glyphicon-fast-forward:before {
	content: "\e076";
}

.glyphicon-step-forward:before {
	content: "\e077";
}

.glyphicon-eject:before {
	content: "\e078";
}

.glyphicon-chevron-left:before {
	content: "\e079";
}

.glyphicon-chevron-right:before {
	content: "\e080";
}

.glyphicon-plus-sign:before {
	content: "\e081";
}

.glyphicon-minus-sign:before {
	content: "\e082";
}

.glyphicon-remove-sign:before {
	content: "\e083";
}

.glyphicon-ok-sign:before {
	content: "\e084";
}

.glyphicon-question-sign:before {
	content: "\e085";
}

.glyphicon-info-sign:before {
	content: "\e086";
}

.glyphicon-screenshot:before {
	content: "\e087";
}

.glyphicon-remove-circle:before {
	content: "\e088";
}

.glyphicon-ok-circle:before {
	content: "\e089";
}

.glyphicon-ban-circle:before {
	content: "\e090";
}

.glyphicon-arrow-left:before {
	content: "\e091";
}

.glyphicon-arrow-right:before {
	content: "\e092";
}

.glyphicon-arrow-up:before {
	content: "\e093";
}

.glyphicon-arrow-down:before {
	content: "\e094";
}

.glyphicon-share-alt:before {
	content: "\e095";
}

.glyphicon-resize-full:before {
	content: "\e096";
}

.glyphicon-resize-small:before {
	content: "\e097";
}

.glyphicon-exclamation-sign:before {
	content: "\e101";
}

.glyphicon-gift:before {
	content: "\e102";
}

.glyphicon-leaf:before {
	content: "\e103";
}

.glyphicon-fire:before {
	content: "\e104";
}

.glyphicon-eye-open:before {
	content: "\e105";
}

.glyphicon-eye-close:before {
	content: "\e106";
}

.glyphicon-warning-sign:before {
	content: "\e107";
}

.glyphicon-plane:before {
	content: "\e108";
}

.glyphicon-calendar:before {
	content: "\e109";
}

.glyphicon-random:before {
	content: "\e110";
}

.glyphicon-comment:before {
	content: "\e111";
}

.glyphicon-magnet:before {
	content: "\e112";
}

.glyphicon-chevron-up:before {
	content: "\e113";
}

.glyphicon-chevron-down:before {
	content: "\e114";
}

.glyphicon-retweet:before {
	content: "\e115";
}

.glyphicon-shopping-cart:before {
	content: "\e116";
}

.glyphicon-folder-close:before {
	content: "\e117";
}

.glyphicon-folder-open:before {
	content: "\e118";
}

.glyphicon-resize-vertical:before {
	content: "\e119";
}

.glyphicon-resize-horizontal:before {
	content: "\e120";
}

.glyphicon-hdd:before {
	content: "\e121";
}

.glyphicon-bullhorn:before {
	content: "\e122";
}

.glyphicon-bell:before {
	content: "\e123";
}

.glyphicon-certificate:before {
	content: "\e124";
}

.glyphicon-thumbs-up:before {
	content: "\e125";
}

.glyphicon-thumbs-down:before {
	content: "\e126";
}

.glyphicon-hand-right:before {
	content: "\e127";
}

.glyphicon-hand-left:before {
	content: "\e128";
}

.glyphicon-hand-up:before {
	content: "\e129";
}

.glyphicon-hand-down:before {
	content: "\e130";
}

.glyphicon-circle-arrow-right:before {
	content: "\e131";
}

.glyphicon-circle-arrow-left:before {
	content: "\e132";
}

.glyphicon-circle-arrow-up:before {
	content: "\e133";
}

.glyphicon-circle-arrow-down:before {
	content: "\e134";
}

.glyphicon-globe:before {
	content: "\e135";
}

.glyphicon-wrench:before {
	content: "\e136";
}

.glyphicon-tasks:before {
	content: "\e137";
}

.glyphicon-filter:before {
	content: "\e138";
}

.glyphicon-briefcase:before {
	content: "\e139";
}

.glyphicon-fullscreen:before {
	content: "\e140";
}

.glyphicon-dashboard:before {
	content: "\e141";
}

.glyphicon-paperclip:before {
	content: "\e142";
}

.glyphicon-heart-empty:before {
	content: "\e143";
}

.glyphicon-link:before {
	content: "\e144";
}

.glyphicon-phone:before {
	content: "\e145";
}

.glyphicon-pushpin:before {
	content: "\e146";
}

.glyphicon-usd:before {
	content: "\e148";
}

.glyphicon-gbp:before {
	content: "\e149";
}

.glyphicon-sort:before {
	content: "\e150";
}

.glyphicon-sort-by-alphabet:before {
	content: "\e151";
}

.glyphicon-sort-by-alphabet-alt:before {
	content: "\e152";
}

.glyphicon-sort-by-order:before {
	content: "\e153";
}

.glyphicon-sort-by-order-alt:before {
	content: "\e154";
}

.glyphicon-sort-by-attributes:before {
	content: "\e155";
}

.glyphicon-sort-by-attributes-alt:before {
	content: "\e156";
}

.glyphicon-unchecked:before {
	content: "\e157";
}

.glyphicon-expand:before {
	content: "\e158";
}

.glyphicon-collapse-down:before {
	content: "\e159";
}

.glyphicon-collapse-up:before {
	content: "\e160";
}

.glyphicon-log-in:before {
	content: "\e161";
}

.glyphicon-flash:before {
	content: "\e162";
}

.glyphicon-log-out:before {
	content: "\e163";
}

.glyphicon-new-window:before {
	content: "\e164";
}

.glyphicon-record:before {
	content: "\e165";
}

.glyphicon-save:before {
	content: "\e166";
}

.glyphicon-open:before {
	content: "\e167";
}

.glyphicon-saved:before {
	content: "\e168";
}

.glyphicon-import:before {
	content: "\e169";
}

.glyphicon-export:before {
	content: "\e170";
}

.glyphicon-send:before {
	content: "\e171";
}

.glyphicon-floppy-disk:before {
	content: "\e172";
}

.glyphicon-floppy-saved:before {
	content: "\e173";
}

.glyphicon-floppy-remove:before {
	content: "\e174";
}

.glyphicon-floppy-save:before {
	content: "\e175";
}

.glyphicon-floppy-open:before {
	content: "\e176";
}

.glyphicon-credit-card:before {
	content: "\e177";
}

.glyphicon-transfer:before {
	content: "\e178";
}

.glyphicon-cutlery:before {
	content: "\e179";
}

.glyphicon-header:before {
	content: "\e180";
}

.glyphicon-compressed:before {
	content: "\e181";
}

.glyphicon-earphone:before {
	content: "\e182";
}

.glyphicon-phone-alt:before {
	content: "\e183";
}

.glyphicon-tower:before {
	content: "\e184";
}

.glyphicon-stats:before {
	content: "\e185";
}

.glyphicon-sd-video:before {
	content: "\e186";
}

.glyphicon-hd-video:before {
	content: "\e187";
}

.glyphicon-subtitles:before {
	content: "\e188";
}

.glyphicon-sound-stereo:before {
	content: "\e189";
}

.glyphicon-sound-dolby:before {
	content: "\e190";
}

.glyphicon-sound-5-1:before {
	content: "\e191";
}

.glyphicon-sound-6-1:before {
	content: "\e192";
}

.glyphicon-sound-7-1:before {
	content: "\e193";
}

.glyphicon-copyright-mark:before {
	content: "\e194";
}

.glyphicon-registration-mark:before {
	content: "\e195";
}

.glyphicon-cloud-download:before {
	content: "\e197";
}

.glyphicon-cloud-upload:before {
	content: "\e198";
}

.glyphicon-tree-conifer:before {
	content: "\e199";
}

.glyphicon-tree-deciduous:before {
	content: "\e200";
}
/* bottom_section */
.bottom_section{
	padding: 0 0 34px;
}
/* bottom-promo */
.bottom-promo{
	text-align: center;
}
.bottom_section h1{
	font-size: 32px;
	line-height: 38px;
	color: #212121;
	margin: 0 0 17px;
}
.bottom-promo .btn-orange{
	position: relative;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border-bottom: 3px solid #e78319;
	text-transform: none;
	font-size: 19px;
	font-family: 'helveticaregular', Arial, Helvetica, sans-serif;
	padding: 15px 50px 14px 30px;
	margin: 0 0 21px;
}
.bottom-promo .btn-orange:after{
	position: absolute;
	content: '';
	border-style: solid;
	border-width: 6px;
	border-color: transparent transparent transparent #fff;
	top: 21px;
	right: 29px;
}
.bottom-promo .star-box .text{
	display: block;
	font:16px/20px 'helveticaregular', Arial, Helvetica, sans-serif;
	color: #222;
}
.bottom-promo .star-box .star-rating{
	display: inline-block;
	vertical-align: top;
	margin: 0 0 15px;
}
.bottom_section .row h1{
	margin-left: 34px;
	margin-bottom: 8px;
}
.bottom_section .row .subtitle{
	display: block;
	color: #666;
	font:20px/24px 'helveticaregular', Arial, Helvetica, sans-serif;
	margin: 0 0 46px 65px;
}
.bottom_section .row.reviews{
	margin: 0 0 0 -12px;
}
.bottom_section .row.reviews .span6{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 32px;
	width: 50%;
	margin: 0;
}
.bottom_section .review,
.item-blockquote,
.blockquote-holder{
	margin: 0;
	white-space: nowrap;
	font-size: 0;
	line-height: 0;
	letter-spacing: -4px;
}
.blockquote-visual,
.blockquote{
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0;
}
.blockquote-visual{
	width: 63px;
	height: 63px;
	overflow: hidden;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.blockquote-visual img{
	width: 100%;
	height: auto;
}
.blockquote{
	position: relative;
	white-space: normal;
	padding: 0 63px 0 31px;
}
.blockquote:after{
	position: absolute;
	content: '';
	width: 20px;
	height: 36px;
	background: url(../img/ico-angle1.png) no-repeat;
	top: 50%;
	left: 13px;
	margin-top: -18px;
}
.blockquote blockquote{
	margin: 0;
	border: none;
	border: 2px solid #c9ebfb;
	background: #fff;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 11px 12px 10px 21px;
}
.blockquote blockquote q{
	display: block;
	font-style: italic;
	padding: 0 0 7px;
}
.blockquote blockquote q a{
	font-weight: bold;
	font-style: normal;
	text-decoration: underline;
}
.blockquote blockquote q a:hover{text-decoration: none;}
.blockquote blockquote q:before{content: open-quote;}
.blockquote blockquote q:after{content: close-quote;}
.blockquote blockquote cite{
	color: #444;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
}
.bottom_section .row.reviews .pull-right{
	font-size: 16px;
	line-height: 20px;
	margin: 27px 6px 0 0;
}
.review-section{
	background: #fafafa;
	padding: 78px 0 71px;
	margin: 0 0 53px;
}
.item-blockquote{padding: 21px 0 0;}
.item-blockquote .blockquote{
	border: none;
	padding: 0 100px 0 18px;
}
.item-blockquote .blockquote blockquote{
	border: none;
	padding: 0;
}
.item-blockquote .blockquote blockquote q{padding: 0 0 3px;}
.item-blockquote .blockquote:after{display: none;}
.item-blockquote .blockquote-visual{margin: 0 0 0 -63px;}
.visual-block{
	padding: 20px 10px 0 0;
}
.visual-block img{
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}
.brands-section{
	font-size: 16px;
	line-height: 24px;
	color: #202020;
	background: #fafafa;
	padding: 57px 0;
	margin: 0 0 79px;
}
.brands-section h1{
	font-size: 28px;
	line-height: 39px;
	margin: 0 0 12px;
	color: #212121;
}
.brands-section p{margin: 0 0 20px;}
.banners-list{
	font-size: 0;
	line-height: 0;
	letter-spacing: -4px;
	padding: 52px 0 0;
}
.banners-list li{
	display: inline-block;
	vertical-align: middle;
	padding: 0 12px 39px 35px;
}
/* Quotes block */
.quotes-block{
	font-size:14px;
	line-height:18px;
	background:#f2fbf4;
	text-align:center;
	margin:0 0 37px;
	padding:38px 0 27px;
}
.quotes-block .row > div{padding:0 0 10px;}
.quotes-block .title{
	margin:0;
	padding:0 10px;
	display:block;
	font:bold 28px/36px 'Open Sans', Arial, sans-serif;
	color:#202020;
}
.quotes-block .title span{
	display:inline-block;
	vertical-align:top;
	padding:0 19px 0 0;
	background:url(../img/arrow-green.png) no-repeat 100% 9px;
}
.clients-num,
.cashed,
.customer-review,
.accounting-package{
	color:#777;
	display:inline-block;
	vertical-align:top;
}
.clients-num{
	background:url(../img/ico-clients-num.png) no-repeat 0 2px;
	padding:0 0 0 20px;
}
.cashed{
	background:url(../img/ico-cashed.png) no-repeat 0 1px;
	padding:0 0 0 20px;
}
.customer-review{
	background:url(../img/ico-customer-review.png) no-repeat 0 2px;
	padding:0 0 0 17px;
}
.accounting-package{
	background:url(../img/ico-accounting-package.png) no-repeat 0 2px;
	padding:0 0 0 17px;
}
/* Content text */
.content-text{
	text-align:center;
	color:#202020;
	font-size:16px;
	line-height:22px;
	margin-bottom: 13px;
}
.content-text .span12{
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	padding:0 100px;
}
.content-text h2{
	font-size:29px;
	line-height:38px;
	margin:0 0 5px;
}
.content-text h3{
	color:#666;
	font-size:18px;
	line-height:24px;
	margin:0 0 10px;
}
.content-text p{margin:0 0 22px;}
/* Info block */
.info-box{
	-webkit-border-radius:8px;
	border-radius:8px;
}
.info-block .row .info-box{
	background: #f9f9f3;
}
.info-block .row .info-box:first-child{background:#f5f5f5;}
.info-block .row{
	font-size: 16px;
	line-height: 22px;
	color: #212121;
}
